/*Import Ubunut font for landing cover page heading*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Import Cabin font as primary font */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

/* Set primary text font and color globally */
* {
  font-family: "Cabin", sans-serif;
  color: var(--primary-text-color) !important;
}
/* Setting CSS Custom Properties to set theme */
:root {
  --primary-text-color: #e0e0e0;
  --primary-text-color-rgb: 224, 224, 224;
  --background-color: #121212;
  --background-color-rgb: 18, 18, 18;
  --card-color: #1e1e1e;
  --card-color-rgb: 30, 30, 30;
  --accent-color-1: #00bcd4;
  --accent-color-1-rgb: 0, 188, 212;
  --accent-color-2: #f50057;
  --accent-color-2-rgb: 245, 0, 87;
  --success-color: #2ecc71;
  --success-color-rgb: 46, 204, 113;
  --error-color: #e63946;
  --error-color-rgb: 230, 57, 70;
}

#navigation-bar {
  background-color: var(--card-color) !important;
  box-shadow: 0 2px 4px rgba(var(--primary-text-color-rgb), 0.1);
  /* Fade ends of navbar to tranparent */
  mask-image: linear-gradient(
    90deg,
    rgba(var(--card-color-rgb), 0) 0%,
    #e0e0e0 25%,
    #e0e0e0 75%,
    rgba(var(--card-color-rgb), 0) 100%
  );
  position: fixed;
  width: 100%;
  z-index: 10;
}
.shell-cover-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.primary-text-color {
  color: var(--primary-text-color) !important;
}
.text-bg-dark {
  background-color: var(--background-color) !important;
}
.dark-card-bg {
  background-color: var(--card-color) !important;
}
#home-dir-text {
  color: var(--accent-color-1) !important;
}
#whoami-text {
  color: var(--accent-color-2) !important;
}
#clouds-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.heading{
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  margin-bottom: 20px;
}

/* About Me Styling*/
#profile-pic {
  width: 180px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 4px solid var(--accent-color-2);
}
#open-tag-svg {
  width: 60%;
  height: 80px;
  fill: rgba(var(--primary-text-color-rgb), 0.1);
  margin-right: 8px;
}
#close-tag-svg {
  width: 60%;
  height: 80px;
  fill: rgba(var(--primary-text-color-rgb), 0.1);
  margin-left: 8px;
}

/* Projects Styling */
.card{
    background-color: var(--card-color) !important;
    border: 2px solid var(--accent-color-2);
}
#projects-scroll-loc{
    scroll-margin-top: -130px; /* Adjusts scroll position for fixed navbar link to projects area by 130px*/
}
/* Contact Me Styling */
.contact-icon{
    fill: rgba(var(--card-color), 1);
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.contact-button{
    align-items: center;
    background-color: var(--accent-color-1) !important;
    color: var(--card-color) !important;
    width: 100%;
}
footer li a {
    color: var(--primary-text-color) !important;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
